<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
</head>

<body class="adminBody">
    <header>
        <h1>Admin Dashboard</h1>
        <a href="/admin/logout">Logout</a>
    </header>

    <section class="newProfileSection">
        <a href="/admin/newProfile">Add a new profile</a>
    </section>
    <%- body %>
    <footer>

    </footer>
</body>
</html>